extends layout

block title
  title Streaming Statistics

block content
  h1 Streaming Service Statistics

  #stats
    each service in stats
      .statBox
        h2= service.name
        p Total Movies Ordered: #{service.totalMovies}
        p Total Revenue: $#{service.totalRevenue}
        p Average Order: $#{service.avgOrder}
        p Most Popular Movie: #{service.mostPopular}
