extends layout

block title
  title User Directory

block content
  h1 User Directory

  #userList
    each u in users
      div.serviceRow(
        style=(u.privacy ? "opacity:0.4;cursor:default;" : "cursor:pointer;")
        data-uid=u._id
        data-private=(u.privacy ? "true" : "false")
      )
        if u.privacy
          span.username #{u.username} (private)
        else
          a(href="/users/" + u._id)= u.username
        img.remove(src="/remove.svg" data-id=u._id width="20")

block scripts
  script(src="/users.js")
